@import 'tailwindcss';

@font-face {
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/AktivGroteskEx-Regular.98e4cff.ttf') format('truetype');
}

@theme {
    --font-display: 'Aktiv Grotesk Ex', sans-serif;
}

#root {
    @apply bg-white font-display;
}

.blue-bg img {
    @apply w-full h-full;
}
